body {
  background-color: #eee;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #fbbc04;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3); 
  padding: 20px 35px;
}

.title {
  color: #fff;
  font-size: 2rem;
  margin: 0 auto;
}

.notebook-container {
  padding: 0 85px;
}

.input-box {
  border: 1px solid #ccc;
  border-radius: 7px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4); 
  display: flex;
  flex-direction: column;
  margin: 35px auto;
  padding: 5px 10px 5px 20px;
  width: 500px;
}

.input-box textarea {
  border: none;
  font-family: inherit;
  font-size: 1.2rem;
  outline: none;
  resize: none;
}

.input-title {
  display: flex;
  align-items: flex-start;
  padding: 8px 0;
}

.input-title textarea {
  width: 450px; 
}

.tooltip-container {
  position: relative;
}

.tooltip-title {
  background-color: #5e5e5e;
  border-radius: 5px;
  color: white;
  font-size: 0.8rem;
  padding: 5px 8px;
  position: absolute;
  visibility: hidden;
  white-space: nowrap;
}

.tooltip-container:hover .tooltip-title {
  visibility: visible;
}

.pin-icon {
  cursor: pointer;
  position: relative;
  bottom: 10px;
  padding: 10px;
  margin-top: 8px;
}

.pin-icon:hover {
  background-color: #ccc;
  border-radius: 10px;
  transition: background-color 0.15s ease-in-out;
}

.input-desc textarea {
  padding-top: 10px;
  width: 475px;
}

.input-buttons {
  align-self: flex-end;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.custom-button {
  background-color: #fff;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  margin-bottom: 5px;
  padding: 10px 0;
  position: relative;
  width: 100px;
}

.custom-button:hover {
  background-color: #d3d3d3 !important;
  transition: background-color 0.15s ease-in-out;
}

.palette-container {
  cursor: pointer;
  margin-right: 15px;
  padding: 5px 5px 0;
  position: relative;
  top: -2px;
}

.palette-container:hover {
  background-color: #ccc;
}

.notes-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.note-box {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 15px 15px 5px;
  width: 275px;
  word-wrap: break-word;
}

.note-box:hover {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2); 
}

.note-category {
  color: gray;
  font-weight: 500;
  margin: 30px 0 0;
  padding-left: 25px;
  width: 100%;
}

.note-title {
  display: flex;
  align-items: flex-start;
}

.note-title-heading {
  width: 240px;
  margin: 0 0 15px;
}

.note-desc {
  font-family: "Arial", sans-serif;
  margin-top: 0;
}

.note-buttons {
  align-self: flex-end;
  display: flex;
  align-items: center;
}

.color-selection {
  background-color: #fff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  cursor: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; 
  width: 150px;
  height: 100px;
  position: absolute;
  bottom: 40px;
  left: 0;
  padding: 3px 0;
}

.color-option {
  border: 2px solid #ccc;
  border-radius: 25px;
  cursor: pointer;
  margin: 3px;
  width: 23px;
  height: 23px;
}

.color-option:hover {
  border-color: #000;
}

@media (max-width: 576px) {
  .notebook-container {
    padding: 0 20px;
  }

  .input-box {
    width: 250px;
  }

  .input-desc textarea {
    width: 230px;
  }

  .custom-button {
    font-size: 0.8rem;
  }

  .notes-container {
    justify-content: center;
  }

  .note-box {
    width: 325px;
  }

  .note-title-heading {
    width: 290px;
  }

  .note-category {
    padding-left: 0;
    text-align: center;
  }
}
